# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env
.venv/

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# Alembic
# =========================
alembic/versions/*.pyc

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build / Distribution
# =========================
dist/
build/
*.egg-info/

# =========================
# Mypy
# =========================
.mypy_cache/